# Ignore `bin` dir
**/bin/*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the go test tool built-in support for several kinds of profiling
cpu.log
mem.log
block.log

# Secrets and sensitive information
.envrc

# OS
.DS_Store

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.idea
*.sublime-workspace